[[source]]
# url = "https://pypi.python.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
name = "pypi"
verify_ssl = true

[packages]
allennlp = "*"
torch = "*"
torchvision = "*"
ipython = "*"
line-profiler = "*"
pytest = "*"
flaky = "*"
jupyterlab = "*"
matplotlib = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
